* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

ul li:hover{
  cursor:pointer;
}

.cat-nav{
  min-height: 500px;
}

li{
  padding: 5px;
}

button{
  cursor: pointer;
}

article{
  min-height:  560px;
}
#header {
  background: #333;
  color: #fff;
  padding: 10px;
}

#sidebar {
  width: 30%;
  padding: 10px;
}

.form-group, .btn-grp {
  padding: 10px;
}

.btn-grp button{
  margin: 10px;
}

input{
  padding: 10px;;
}


section{
  padding: 10px;
}

#main{
  display: flex;
  width: 100%;
  background: #f4f4f4;
}

.clr {
  clear: both;
}

#footer {
  background: #333;
  color: #fff;
  padding: 10px;
}

.text-center {
  display: block;
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  background: #f4f4f4;
}

.selected-category{
  background: grey;
  cursor: pointer;
  color:#fff;
}